<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="scss.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  <link rel="stylesheet" href="./slick/slick.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>Page Title</title>
</head>
<body>
  div.top
    div.logo
     <img class="fit-picture" src="./img/logo.png" alt="">
    ul.menu
      li Para você
      li Para seu Negócio
      li Central de Ajuda
      li Sobre o Pic Pay
      li Blog
    div.btn Baixe o app
  div.descubra
    div.left
     div.title Descubra o universo de facilidades do PicPay
     div.text Com o PicPay é assim: pode parcelar seus boletos em até 12x, ter uma conta digital segura e gratuita, cartão de crédito sem anuidade e ainda ganhar dinheiro de volta em suas compras.
     div.btn Baixe o app
    div.right.image-width
     <img class="fit-picture" src="./img/imagem_isa.png" alt="">
  div.descubra-two
    div.left.image-width
     <img class="fit-picture" src="./img/image_4.png" alt=""> 
    div.right
     div.title-green Dinheiro não precisa ser um tabu
     div.text Nascemos com a missão de tornar a vida das pessoas mais fácil. Por isso, nossa nova campanha convida você a se desacostumar dos perrengues financeiros. Pagar sem ter nenhuma vantagem? Desacostuma!
     div.btn Saiba mais
  div.descubra-three
    div.left.bk-color
     div.title-green PicPay Card: seu cartão que é débito, crédito, totalmente gratuito, do PicPay
     div.text Usando seu cartão de crédito e débito físico ou virtual, você paga tudo e todos e ainda pode parcelar no crédito. Além disso, você ainda pode ganhar cashback, ou seja, dinheiro de volta. 
     div.btn Pedir cartão de crédito
    div.right.image-width
     <img class="fit-picture" src="./img/image_5.png" alt="">
  div.title-center Pague tudo e todos com PicPay
  div.descubra-bottom
     div.left.image-width
      <img class="fit-picture" src="./img/image_6.png" alt=""> 
     div.right
      div.title-red Falta fazer a rolagem !!
     
</body>
<div id="top" onclick="toTop();"><img class="on__top__btnimg" src="./img/image_1.png" alt="no pic" /></div>


</html>

<script src="./jquery-1.12.4.js" type="text/javascript"></script>
<script src="./slick/slick.min.js" type="text/javascript"></script>
<script src="./script.js" type="text/javascript"></script>