<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="scss.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  <link rel="stylesheet" href="./slick/slick.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>Page Title</title>
</head>
<body>
div.top__container
 div.top__logo LOGOS
  //-  <img src="./img/logo.png" alt="">
 div.top__input 
  <form class="example" action="" >
  <button type="submit"><img src="./img/Location.png" class="location" alt=""></button>
   <input type="text" placeholder="Введите адрес доставки" name="search2">
   <button type="submit"><img src="./img/Ellipse_739.png" class="search_ig" alt=""></button>
  </form>
 div.top__tell--top__container
  div.top__tell__img
    <img src="./img/Ellipse.png" alt="">
    <img src="./img/Calling.png" class="calling" alt="">
  div.top__tell--numbcontacts
    div.top__tell--contacts Контакты:
    div.top__tell--numb +7 (917) 510-57-59 
 div.top__btn
    div.top__btn-text Корзина 
    div.top__btn--numder--product 4
div.menu       
    <img src="./img/menu_2bk.png" class="menu__img" alt="">
    div.text Доставка ВКУСНЕЙШИХ БЛЮд за 60 минут
    div.menu__btn 
       div.menu__btn-text Ещё не пробовал?
nav.menu-inner
  ul.menu--catigory
    li.active Холодные закуски 
    li Горячие закуски 
    li Мясные блюда
    li Супы
    li Рыбные блюда
    li Гриль меню
    li Фирменные блюда
    li Напитки
   
div.blockproduct
 div.title-main ХОЛОДНЫЕ ЗАКУСКИ
 div.slider__top
  div.blockproduct__container
    <img class="blockproduct__img" src="./img/cart_product1.png" alt="">
    div.padding
     div.blockproduct-title-weight
      div.title Ягненок
      div.the_weight Вес: 225 г
     div.text Фаршированный гречневой кашей, курагой, апельсином и зеленым яблоком
     div.blockproduct-price-btn
      div.price 620 ₽
      div.btn В корзину
       <img src="./img/Buy.png" alt="">

  div.blockproduct__container
    <img class="blockproduct__img" src="./img/cart_product1.png" alt="">
    div.padding
     div.blockproduct-title-weight
      div.title Ягненок
      div.the_weight Вес: 225 г
     div.text Фаршированный гречневой кашей, курагой, апельсином и зеленым яблоком
     div.blockproduct-price-btn
      div.price 620 ₽
      div.btn В корзину
       <img src="./img/Buy.png" alt="">

  div.blockproduct__container
     <img class="blockproduct__img" src="./img/cart_product2.png" alt="">
     div.padding
      div.blockproduct-title-weight
       div.title Индейка
       div.the_weight Вес: 225 г
      div.text Фаршированный гречневой кашей, курагой, апельсином и зеленым яблоком
      div.blockproduct-price-btn
       div.price 620 ₽
       div.btn В корзину
        <img src="./img/Buy.png" alt="">       
  div.blockproduct__container
     <img class="blockproduct__img" src="./img/cart_product3.png" alt="">
     div.padding
      div.blockproduct-title-weight
       div.title Гусь
       div.the_weight Вес: 225 г
      div.text Фаршированный гречневой кашей, курагой, апельсином и зеленым яблоком
      div.blockproduct-price-btn
       div.price 7 900 ₽
       div.btn В корзину
        <img src="./img/Buy.png" alt="">   
  div.blockproduct__container
     <img class="blockproduct__img" src="./img/cart_product4.png" alt="">
     div.padding
      div.blockproduct-title-weight
       div.title Утка
       div.the_weight Вес: 225 г
      div.text Фаршированная рисом, курагой и айвой
      div.blockproduct-price-btn
       div.price 3 230 ₽
       div.btn В корзину
        <img src="./img/Buy.png" alt="">          
  div.blockproduct__container
    <img class="blockproduct__img" src="./img/cart_product1.png" alt="">
    div.padding
     div.blockproduct-title-weight
      div.title Ягненок
      div.the_weight Вес: 225 г
     div.text Фаршированный гречневой кашей, курагой, апельсином и зеленым яблоком
     div.blockproduct-price-btn
      div.price 620 ₽
      div.btn В корзину
       <img src="./img/Buy.png" alt="">

div.blockproduct
 div.title-main ГОРЯЧИЕ ЗАКУСКИ
 div.slider__top
  div.blockproduct__container
    <img class="blockproduct__img" src="./img/cart_product5.png" alt="">
    div.padding
     div.blockproduct-title-weight
      div.title Ягненок
      div.the_weight Вес: 225 г
     div.text Фаршированный гречневой кашей, курагой, апельсином и зеленым яблоком
     div.blockproduct-price-btn
      div.price 620 ₽
      div.btn В корзину
       <img src="./img/Buy.png" alt="">

  div.blockproduct__container
    <img class="blockproduct__img" src="./img/cart_product1.png" alt="">
    div.padding
     div.blockproduct-title-weight
      div.title Ягненок
      div.the_weight Вес: 225 г
     div.text Фаршированный гречневой кашей, курагой, апельсином и зеленым яблоком
     div.blockproduct-price-btn
      div.price 620 ₽
      div.btn В корзину
       <img src="./img/Buy.png" alt="">

  div.blockproduct__container
     <img class="blockproduct__img" src="./img/cart_product6.png" alt="">
     div.padding
      div.blockproduct-title-weight
       div.title Индейка
       div.the_weight Вес: 225 г
      div.text Фаршированный гречневой кашей, курагой, апельсином и зеленым яблоком
      div.blockproduct-price-btn
       div.price 620 ₽
       div.btn В корзину
        <img src="./img/Buy.png" alt="">       
  div.blockproduct__container
     <img class="blockproduct__img" src="./img/cart_product7.png" alt="">
     div.padding
      div.blockproduct-title-weight
       div.title Гусь
       div.the_weight Вес: 225 г
      div.text Фаршированный гречневой кашей, курагой, апельсином и зеленым яблоком
      div.blockproduct-price-btn
       div.price 7 900 ₽
       div.btn В корзину
        <img src="./img/Buy.png" alt="">   
  div.blockproduct__container
     <img class="blockproduct__img" src="./img/cart_product8.png" alt="">
     div.padding
      div.blockproduct-title-weight
       div.title Утка
       div.the_weight Вес: 225 г
      div.text Фаршированная рисом, курагой и айвой
      div.blockproduct-price-btn
       div.price 3 230 ₽
       div.btn В корзину
        <img src="./img/Buy.png" alt="">      
   
div.blockproduct
 div.title-main Мясные блюда
 div.slider__top
  div.blockproduct__container
    <img class="blockproduct__img" src="./img/cart_product1.png" alt="">
    div.padding
     div.blockproduct-title-weight
      div.title Ягненок
      div.the_weight Вес: 225 г
     div.text Фаршированный гречневой кашей, курагой, апельсином и зеленым яблоком
     div.blockproduct-price-btn
      div.price 620 ₽
      div.btn В корзину
       <img src="./img/Buy.png" alt="">
  div.blockproduct__container
     <img class="blockproduct__img" src="./img/cart_product2.png" alt="">
     div.padding
      div.blockproduct-title-weight
       div.title Индейка
       div.the_weight Вес: 225 г
      div.text Фаршированный гречневой кашей, курагой, апельсином и зеленым яблоком
      div.blockproduct-price-btn
       div.price 620 ₽
       div.btn В корзину
        <img src="./img/Buy.png" alt="">       
  div.blockproduct__container
     <img class="blockproduct__img" src="./img/cart_product3.png" alt="">
     div.padding
      div.blockproduct-title-weight
       div.title Гусь
       div.the_weight Вес: 225 г
      div.text Фаршированный гречневой кашей, курагой, апельсином и зеленым яблоком
      div.blockproduct-price-btn
       div.price 7 900 ₽
       div.btn В корзину
        <img src="./img/Buy.png" alt="">   
  div.blockproduct__container
     <img class="blockproduct__img" src="./img/cart_product4.png" alt="">
     div.padding
      div.blockproduct-title-weight
       div.title Утка
       div.the_weight Вес: 225 г
      div.text Фаршированная рисом, курагой и айвой
      div.blockproduct-price-btn
       div.price 3 230 ₽
       div.btn В корзину
        <img src="./img/Buy.png" alt=""> 
  div.blockproduct__container
    <img class="blockproduct__img" src="./img/cart_product1.png" alt="">
    div.padding
     div.blockproduct-title-weight
      div.title Ягненок
      div.the_weight Вес: 225 г
     div.text Фаршированный гречневой кашей, курагой, апельсином и зеленым яблоком
     div.blockproduct-price-btn
      div.price 620 ₽
      div.btn В корзину
       <img src="./img/Buy.png" alt="">
div.our-cafe   
   <img class="our-cafe__mask_group" src="./img/Mask_Group.png" alt="">  
   <img class="our-cafe__center_bottom" src="./img/center_bottom.png" alt="">  
   <img class="our-cafe__center_bottom2" src="./img/center_bottom2.png" alt="">  
   div.our-cafe__container 
      div.our-cafe__left
       div.our-cafe__title НАШЕ КАФЕ
       div.our-cafe__text Мы расположены в одном из самых живописных мест города — на берегу реки, это ваш оазис в черте города, куда можно сбежать от шумного и пыльного мегаполиса. Мы, действительно уникальные, ведь все продумано до мелочей: проект построен из дикого закарпатского сруба, камин в основном зале ресторана и панорамные окна с видом на реку, уютные беседки на берегу реки и лучшая видовая террасса, шатер с посадкой на 200 человек, сказочный детский домик и бассейн.
       div.our-cafe__btn ПОСМОТРЕТЬ МЕНЮ
      div.our-cafe__right
       div.our-cafe__window   
        <img src="./img/onion_1.png" alt="">     
        div.our-cafe__title Свежайшие продукты
       div.our-cafe__window   
        <img class="flash_img" src="./img/onion_2.png" alt="">     
        div.our-cafe__title Быстрая доставка
       div.our-cafe__window   
        <img src="./img/onion_3.png" alt="">     
        div.our-cafe__title Лучшие повора
       div.our-cafe__window   
        <img src="./img/onion_1.png" alt="">     
        div.our-cafe__title Свежайшие продукты

  
div.maps-reclama 
 <iframe class="resp-iframe" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5461.0230299085515!2d33.5254187!3d46.8139275!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c39c8ce1eb5cd1%3A0x5849823f06612120!2z0YPQuy4g0JzQtdC70LjRgtC-0L_QvtC70YzRgdC60LDRjywgNDjQsCwg0JrQsNGF0L7QstC60LAsINCl0LXRgNGB0L7QvdGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCA3NDgwMA!5e0!3m2!1sru!2sua!4v1665158636793!5m2!1sru!2sua" frameborder="0"  loading="lazy"></iframe>
  div.maps-reclama-top__container
    div.title КОНТАКТЫ
    <img class="Line_bottom"  src="./img/Line_bottom.png" alt=""> 
     div.maps-reclama-textadress  
       <img class="icon_bottom"  src="./img/icon_bottom.png" alt=""> 
        div
          div.maps-reclama-textadress-title  Наш адрес:
          div.maps-reclama-textadress-text МО, городской округ Красногорск, село Ильинкое, Экспериментальная улица, 10
    div.maps-reclama-textadress  
       <img class="icon_bottom"  src="./img/Message_bottom.png" alt=""> 
       div
          div.maps-reclama-textadress-title  Наша почта:
          div.maps-reclama-textadress-text auto.wash@gmail.com
    <img class="Line_bottom" src="./img/Line_bottom.png" alt="">     
     div.maps-reclama-textadress.align  
      div.btn ЗАБРОНИРОВАТЬ СТОЛ
      div.container__text
       div.tell +7 (917) 510-57-59 
       div.text Звоните или оставляйте заявку
     div.title__soc 
       div.title_ Мы в соц сетях:
       div.soc 
         <img class=""  src="./img/soc1.png" alt=""> 
         <img class=""  src="./img/soc2.png" alt=""> 
         <img class=""  src="./img/soc3.png" alt=""> 
         <img class=""  src="./img/soc4.png" alt=""> 
<footer>

ul.footer__menu 
 li <div class="title">LOGOS</div> 

 li © ООО СК «АПШЕРОН» <br>Все права защищены. 2010-2020
 li Пользовательское соглашение
 li Карта сайта
 li Политика конфиденциальности
ul.footer__menu2 
 li О ресторане                      
 li Условия доставки 
 li Возврат товара 
 li Акции
</footer>   
         

      
   


<div id="top" onclick="toTop();"><img class="on__top__btnimg" src="./img/image_1.png" alt="no pic" /></div>
</body>

</html>

<script src="./jquery-1.12.4.js" type="text/javascript"></script>
<script src="./slick/slick.min.js" type="text/javascript"></script>
<script src="./script.js" type="text/javascript"></script>