* {
    box-sizing: border-box;

}

@font-face {
    font-family: Inter;
    src: url("./fonts/Inter-VariableFont_slnt\,wght.ttf") format("opentype");
}

// @font-face {
//     font-family: Gilroy;
//     src: url("./fonts/Gilroy-Light.otf") format("opentype");
// }

// @font-face {
//     font-family: Proxima Nova;
//     src: url("./fonts/Proxima\ Nova\ Alt\ Light.otf") format("opentype");
// }

ul,
li {
    list-style: none;
}

html {

    height: 100%;
}

body {}

.container {
    max-width: 1543px;
    margin: 0 auto;
}

#top {
    height: 64px;
    width: 64px;
    position: absolute;
    left: 72px;
    transform: translateY(-93px);
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    padding: 20px;
    transition: all .3s;
}

#top:hover {

    background: linear-gradient(to top right, #000000 0%, #ffffff 100%);
    color: #fff;

}

#top:hover img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(1298%) hue-rotate(209deg) brightness(118%) contrast(100%);
}


.top {
    background: #11C76F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 76px;


}

.btn {
    display: inline;
    padding: 12px 28px;
    background: #426DFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.05em;
    border-radius: 20px;
    color: #FFFFFF;
}

.menu {
    display: flex;
    gap: 67px;

    li {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 17px;
        line-height: 21px;
        /* identical to box height */

        text-align: center;
        letter-spacing: 0.05em;

        color: #FFFFFF;
    }
}

.descubra,
.descubra-two,
.descubra-three {
    display: flex;
    justify-content: space-around;


}

.title-green {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 37px;
    line-height: 45px;
    /* identical to box height */

    letter-spacing: 0.03em;

    color: #11C56E;
}

.descubra-two {
    .right {
        padding: 137px 30px 160px 48px;
    }
}

.descubra,
.descubra-three {
    .left {
        padding: 137px 30px 50px 48px;
        // background: #F5F5F5;
width: 50%;
        .title {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 900;
            font-size: 58px;
            line-height: 70px;
            letter-spacing: 0.03em;

            color: #000000;
        }

        .right {
            padding: 137px 30px 160px 48px;
        }
    }

    .text {
        margin-top: 10px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 38px;
        /* or 211% */

        letter-spacing: 0.05em;

        color: #000000;
        margin-bottom: 51px;
    }

}

.right {
width: 50%;
    background: #F5F5F5;

    img {

        height: 100%;
    }

    .text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 38px;
        /* or 211% */
        letter-spacing: 0.05em;
        color: #000000;
        margin-bottom: 51px;
    }
}

.title-center {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 37px;
    line-height: 45px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.03em;

    color: #11C56E;
    margin: 32px auto;
}

.image-width {
    flex-basis: 50%;
    width: 100%;
    height: auto;
}

.bk-color {
    background: #EFF0E8;
}

img {
    width: 100%;
    height: 100%;
}

.descubra-bottom {
    display: flex;
    align-items: center;
    gap: 45px;

    .right {
        background-color: #ffffff;
    }

    .title-red {

        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 37px;
        line-height: 45px;
        /* identical to box height */

        text-align: center;
        letter-spacing: 0.03em;

        color: #FF1515;
    }
}

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}
@media (max-width:1346px) {
    .top {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width:1076px) {
   
    .descubra,
    .descubra-two,
    .descubra-three {
        flex-wrap: wrap;
        justify-content: center;
    }
    .image-width {
        flex-basis:100%; 
       
    }
    .descubra .left, .descubra-three .left,.right {      
        width: 100%;
    }
    .descubra-three {
        line-height: 0;
        gap: 0;
        padding: 0;
        margin: 0;
    }

    .descubra-three .right {
        line-height: 0;
    }
    .descubra-bottom {
       flex-wrap: wrap;
    }
}
@media (max-width:645px) {
    .menu {
        gap: 20px;
        flex-wrap: wrap;
    }
}
